body{
    margin:40px;
    font-size:larger;
    background-color: bisque;
}
h1{
    text-align: center;
    text-decoration: underline;
    color:red;
}
span{
    font-weight: bold;
    text-decoration: underline;
    color:red;
}
.span1{
     font-weight: bold;
    text-decoration:none;
    color:black;
}
pre{
    color:cornflowerblue;
    margin-left:100px;
}